/* 

	Auther  : siddhartha singh 
	version : 1.0
	contact : sidd5sci@gmail.com	
	Licence : MIT
	Description: Main css of leave managment system
	
 
*/
 
 
 *{
	 border:0;
	 margin:0;
	 padding:0;
	 font-family: Nunito, sans-serif;
	 font-size: .813rem;
     font-weight: 400;
     line-height: 1.5;
     color: #47404f;
     text-align: left;
 }

::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* 
::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer

 */
 /* 
 MENU 
 ===============
 0: Colors
 1: Typography
 2: Header 
 3: Buttons
 4: Images
 5: Tables
 */
 
 
 
 
 /* 
 COLORS
 =================================== 
 */
 .primary{
	color:#4d2673 !important;
    /* background-color: #639;
    border-color: #639; */
 }
 
 /* 
 TYPOGRAPHY
 =================================== 
 */
 .display-1{
     font-size: 55px;
     font-weight: 800;
     color: #fff;
}
.display-2{
	 font-size: 15px;
     font-weight: 100;
     color: #fff;
}


.display-text-1{
	color:#ccc;
	font-size:14px;
	
}
 /* 
 HEADER
 =================================== 
 */
 
 .header{
 	width:100%;
 	min-height:70px;
 	color:#fff;
 	position:relative;
 	padding:10px;
 	box-sizing:border-box;
 	background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-weight: 500;
    line-height: 23px;
}
.header-brand{
    height: 70px;
    padding-top: 3px;
    margin-left: 5%;
    float: left;  
      
}
.header-brand a{
	color:#4d2673;
	text-decoration:none;
	font-weight:bold;
	font-size:30px;
}
.header-menu{
	position: absolute;
    right: 100px;
    top:23px;
}
.header-menu-list{ list-style:none;}
.header-menu-list-item{
	float:left;
	margin-right:2em;
}
.header-menu-list-item a{
	font-size:1.2rem;
	text-decoration:none;
	color: #b9b9b9;
	font-size: 14px;
	font-weight: bold;
}

/* 
BUTTONS
============================== 

*/
.btn{
	color: #44d89e!important;
    border-width: 0px!important;
    border-radius: 100px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #ffffff;
    
    padding-top: 12px!important;
    padding-right: 36px!important;
    padding-bottom: 12px!important;
    padding-left: 36px!important;
    
    
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.16);
}

.btn-link{
	text-decoration:none;
}
.btn-login{
	    width: 100%;
	    display: block;
        margin-top: .5rem !important;
        border-radius: 40px;
        color: #fff !important;
	    background-color: #639;
	    border-color: #639;
	    border-radius: 40px !important;
	    
	    cursor:pointer;
	    font-weight: 400;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    user-select: none;
	    border: 1px solid transparent;
	    padding: .375rem .75rem;
	    font-size: .813rem;
	    line-height: 1.5;
	    border-radius: .25rem;
	    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
 
 /* 
 IMAGES
 =================================== 
 */
 .img{
 
 }
 
 /* 
 TABLES
 =================================== 
 */ 
 table{
 	overflow-x:auto;
 	
 }
 th{
 	background:#ccc;
 }
 tr{
 	min-height:50px;
 }
 tr:nth-child(even) {
  	background-color: #f2f2f2
 }
 td{
 	min-width:50px;
 }